 [Unit]
 Description=LoRa Watcher Service
 After=multi-user.target

 [Service]
 Type=idle
 Environment="DISPLAY=:0"
 Environment="XAUTHORITY=/home/pi/.Xauthority"

 SupplementaryGroups=video input dialout spi i2c gpio

 StandardInput=tty
 StandardOutput=journal
 StandardError=journal

 ExecStartPre=/bin/chvt8
 ExecStart=/usr/bin/python3 /home/pi/raspberry-scratch-server/Watcher.py > /home/pi/watcher.log

 KillMode=process
 SendSIGHUP=no
 Restart=always
 RestartSec=10

 [Install]
 WantedBy=multi-user.target