 [Unit]
 Description=LoRa Watcher Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/raspberry-scratch-server/Watcher.py

 [Install]
 WantedBy=multi-user.target